* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #4CAF50; 
}

.container-geral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.feedback-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback-form h2 {
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #333;
}

.feedback-form form {
    display: flex;
    flex-direction: column;
}

.feedback-form .form-group {
    margin-bottom: 15px;
}

.feedback-form label {
    font-weight: bold;
    color: #555;
}

.feedback-form input[type="text"],
.feedback-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.feedback-form textarea {
    min-height: 100px;
    resize: vertical;
    /* Permite redimensionamento vertical */
}

.feedback-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.feedback-form button:hover {
    background-color: #45a049;
}

.feedback-form button:focus {
    outline: none;
}